.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    left: 2%
    top: 27%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    bottom: 4%
    right: 20%
  &-3
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 4%
  &-4
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    left: -40px
    top: 22%
    z-index: -1
  &-5
    animation: float1 2s ease-in-out infinite alternate
    position: absolute
    right: -6%
    bottom: 15%
    z-index: -1
  &-6
    animation: float1 1.5s ease-in-out infinite alternate
    position: absolute
    left: 25%
    bottom: 4%
    z-index: -1
  &-7
    animation: float1 1s ease-in-out infinite alternate
    position: absolute
    top: -3%
    left: 5%
    z-index: 0

.banner-interno
  height: 160px
  .banner-interno__fondo
    background-position: right bottom
    background-image: url(../assets/curso/fondo_tema.png) !important

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

//Banners
.banner-principal__row .banner-principal__img
  @media screen and (min-width: 576px)
    padding-right: 0 !important
.banner-principal__img
  position: relative
  padding: 0px !important
  margin-top: 2rem
  margin-bottom: 0.6rem

  &::before
    content: ""
    position: absolute
    background: rgba(255, 255, 255, 0)
    z-index: 0
    top: 20px
    left: 0
    right: 0
    bottom: 0
    border: 1px solid white
    border-radius: 20px
    backdrop-filter: blur(13px)
    -webkit-backdrop-filter: blur(13px)
    filter: brightness(108%)

  img
    position: relative
    margin: 0 auto
    max-width: 297px
.banner-principal .tarjeta
  z-index: -10
  background-position: inherit
  @media screen and (min-width: $bp-max-md)
    padding-right: 3rem
    background-image: url(../assets/curso/portada/fondo-banner-principal-md.png) !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url(../assets/curso/portada/fondo-banner-principal-movil.png) !important

//colores
.fondo-color-sistema-h
  background-color: $color-sistema-h
.fondo-color-sistema-i
  background-color: $color-sistema-i
.fondo-color-sistema-j
  background-color: $color-sistema-j
.fondo-color-sistema-k
  background-color: $color-sistema-k
.fondo-color-sistema-l
  background-color: $color-sistema-l
.fondo-color-sistema-m
  background-color: $color-sistema-m
.fondo-color-sistema-n
  background-color: $color-sistema-n
.fondo-color-sistema-o
  background-color: $color-sistema-o
.fondo-color-sistema-p
  background-color: $color-sistema-p
.fondo-color-sistema-q
  background-color: $color-sistema-q
.fondo-color-sistema-r
  background-color: $color-sistema-r
.fondo-color-acento-contenido
  background-color: $color-acento-contenido
.fondo-color-secundario
  background-color: $color-secundario
.fondo-color-primario
  background-color: $color-primario

.c-color-secundario
  color: $color-secundario
.c-color-acento-contenido
  color: $color-acento-contenido

//bordes
.borde-8
  border-radius: 8px
.borde-10
  border-radius: 10px
.borde-20
  border-radius: 20px

.no-borde
  border: none !important

//fondos
.fondo-personalizado-1
  position: relative
  &:before
    content: ""
    position: absolute
    width: 108%
    left: -4%
    @media screen and (max-width: $bp-max-xl)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-lg)
      width: 112%
      left: -6%
    @media screen and (max-width: $bp-max-md)
      width: 116%
      left: -8%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: 520px)
      width: 120%
      left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-repeat: no-repeat
    background-position: top
    background-size: cover
  &.no-tam-full
    &:before
      left: 0 !important
      width: 100% !important
  &.pos-bottom
    &:before
      background-position: bottom
  &.pos-full
    &:before
      background-size: 100%
      @media screen and (max-width: $bp-max-md)
        background-size: cover
  &.bottom-1
    &:before
      bottom: 110px
  &.bottom-2
    &:before
      bottom: 55px
  &.f1
    &:before
      background: rgb(234,243,253)
      background: linear-gradient(180deg, rgba(234,243,253,0) 0%, rgba(234,243,253,1) 25%, rgba(238,250,209,1) 75%, rgba(238,250,209,0) 100%)
  &.f2
    &:before
      background-image: url(../assets/curso/temas/4.png)
  &.f3
    &:before
      background: rgb(246,252,231)
      background: linear-gradient(0deg, rgba(246,252,231,1) 0%, rgba(255,255,255,0) 100%)
  &.f4
    &:before
      background: rgb(255,246,241)
      background: linear-gradient(0deg, rgba(255,246,241,1) 0%, rgba(255,255,255,0) 100%)
  &.f5
    &:before
      background-image: url(../assets/curso/temas/33.png)
  &__contenido
    position: relative

//slyders personalizados    
.slider-personalizado-1
  .slyder-a__btn--sigt,.slyder-a__btn--atrs
    background-color: $color-acento-botones
  .slyder-a__bullets__item
    opacity: 0.35
    background-color: $color-acento-contenido
    border: none !important
    &--active
      opacity: 1 !important

.slider-personalizado-2
  .slyder-f__btn
    position: relative
    *
      position: relative
    i
      color: $color-sistema-texto !important
    &:before
      content: ""
      background-color: $color-acento-botones
      position: absolute
      height: 50px
      width: 50px
      z-index: 0
      border-radius: 50%
      @media screen and (max-width: 576px)
        width: 30px
        height: 30px
    i
      font-size: 1.2rem
      color: $white

//acordion
.acordion-personalizado-1
  .tarjeta
    .acordion__header
      margin-bottom: 0.7rem !important
    padding-right: 1rem !important
    padding-left: 1rem !important
    padding-top: 0.7rem !important
    border-radius: 10px
    background-color: $color-sistema-j
    &.acordion__activo
      background-color: $color-sistema-k
  .acordion__accion__btn--a
    width: 50px
    height: 50px
    background-color: $color-acento-botones !important
    color: $black

//titulos
.titulo-decorativo
  position: relative
  display: inline-flex
  align-items: center
  &::before
    content: ""
    position: absolute
    background-color: $color-acento-contenido
    top: 8px
    bottom: 7px
    left: 10px
    right: 0
    z-index: 0
    border-top-right-radius: 20px
    border-bottom: 4px solid $white
  .cont-text 
    position: relative
    h3
      margin: 0
      padding: 0.5rem 0 
      margin-left: 0.5rem
      margin-right: 1.5rem
      @media screen and (max-width: $bp-max-xs)
        margin-right: 0.5rem
        padding: 1rem 0

  .cont-figura
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16)
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16)
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16)
    position: relative
    display: inline-flex
    border-radius: 50%
    width: 60px
    height: 60px
    min-width: 60px
    min-height: 60px
    justify-content: center
    align-items: center
    align-content: center
    background-color: $color-secundario
    img
      max-width: 40px
      margin-top: 0.2rem

//listas
.lista-p-1
  li
    display: flex
    div
      width: 16px
      min-width: 16px

//pasos
.pasos-personalizado-1
  .pasos-b__header__item__line-container
    order: 1
    margin-bottom: 0
  .pasos-b__header__item__tittle
    margin-bottom: 10px
  .pasos-b__header__item:first-child
    .pasos-b__header__item__line-container:before
      background-color: transparent
  .pasos-b__header__item__line-container:after,.pasos-b__header__item__line-container:before
    background-color: #CCCCCC
  .pasos-b__header__item--before
    .pasos-b__header__item__line-container:after,.pasos-b__header__item__line-container:before
      background-color: $color-secundario
    .pasos-b__header__item__dot
      background-color: transparent
      border: 3px solid $color-secundario
      i
        display: none
  .pasos-b__header__item--active
    .pasos-b__header__item__dot
      background-color: $white
      border-color: $color-secundario
      align-content: center
      &:before
        content: ""
        width: 10px
        height: 10px
        background-color: $color-secundario
        display: flex
        border-radius: 50%
        margin: auto
    .pasos-b__header__item__line-container:before
      background-color: $color-secundario
  .pasos-b__header__item__dot
    min-width: 22px
    min-height: 22px
    max-width: 22px
    max-height: 22px
    background-color: white
    span
      display: none
  .pasos-b__header__btn--right,.pasos-b__header__btn--left
    background-color: $color-acento-botones

//otros
.cont_2_1
  width: 82px
  height: 82px

.tarjeta-audio-p-1
  background-color: $color-sistema-l
  border-color: $color-primario !important
  border-radius: 15px
  .tarjeta-audio__texto
    color: $color-sistema-texto !important

.min-h-custom
  min-height: 190px
  @media screen and (max-width: $bp-max-xl)
    min-height: 170px
  @media screen and (max-width: $bp-max-lg)
    min-height: 140px
  @media screen and (max-width: $bp-max-md)
    min-height: 185px
  @media screen and (max-width: $bp-max-sm)
    min-height: auto
    margin-bottom: 1rem